<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro" name="robot_name">
  <!-- Args -->
  <!-- General -->
  <xacro:arg name="sim_mode" default="false"/>

  <!-- Include all of the pieces of the robot -->
  <xacro:include filename="anteater_core.xacro"/>
  <xacro:include filename="caster.xacro"/>
  <xacro:include filename="wheel.xacro"/>
  <xacro:include filename="sensors.xacro"/>
  
</robot>