<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro">
  <xacro:if value="$(arg sim_mode)">
    <ros2_control name="GazeboSystem" type="system">
      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>

      <!-- Main Wheel Joints -->
      <joint name="left_wheel_joint">
        <command_interface name="velocity">
            <param name="min">-10</param>
            <param name="max">10</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <!-- Caster Joints -->
      <joint name="left_front_caster_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="right_front_caster_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="left_back_caster_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="right_back_caster_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

    <gazebo>
      <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system.so">
        <robot_param>robot_description</robot_param>
        <robot_param_node>robot_state_publisher</robot_param_node>
        <parameters>$(find ora_sim)/config/sim_controller.yaml</parameters>
      </plugin>
    </gazebo>
  </xacro:if>

  <xacro:unless value="$(arg sim_mode)">
    <ros2_control name="RealRobot" type="system">
      <hardware>
        <plugin>roboteq_ros2_control_plugin/RoboteqHardwareInterface</plugin>
        <param name="can">can0</param>
      </hardware>

      <joint name="left_wheel_joint">
        <param name="node_id">1</param>
        <param name="gear_ratio">7.3</param>

        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
        <state_interface name="position"/>
      </joint>

      <joint name="right_wheel_joint">
        <param name="node_id">2</param>
        <param name="gear_ratio">7.3</param>

        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
        <state_interface name="position"/>
      </joint>
    </ros2_control>
  </xacro:unless>
</robot>